.performance-grid__hero { overflow: hidden; }
.cards--mobile { display: none; }
@media (max-width: 749px) { .cards--desktop { display: none; } .cards--mobile { display: block; } }
.cards article { padding: 1rem; }
