.main-cart { display: grid; gap: 1rem; }
.cart-line { border-block-end: 1px solid currentColor; display: grid; gap: .5rem; padding-block: 1rem; }
.cart-line__properties, .cart-summary__discounts { list-style: none; margin: 0; padding: 0; }
.cart-summary { display: grid; gap: .5rem; }
